//
// Sidenav
//

// Base styling for the sidenav
$link-active: rgb(255, 255, 50);

.sb-sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;

    .sb-sidenav-menu {
        flex-grow: 1;

        .nav {
            flex-direction: column;
            flex-wrap: nowrap;

            .sb-sidenav-menu-heading {
                padding: 1.75rem 1rem 0.75rem;
                font-size: 0.75rem;
                font-weight: bold;
                text-transform: uppercase;
            }

            .nav-link {
                display: flex;
                align-items: center;
                // padding-top: 0.75rem;
                // padding-bottom: 0.75rem;
                padding: 0.5rem;
                // position: relative;

                .sb-nav-link-icon {
                    // font-size: 0.9rem;
                    width: 23px;
                    font-size: 20px;
                    line-height: 1;
                }

                .sb-sidenav-collapse-arrow {
                    display: inline-block;
                    margin-left: auto;
                    transition: transform 0.15s ease;
                }

                &.collapsed {
                    .sb-sidenav-collapse-arrow {
                        transform: rotate(-90deg);
                    }
                }

                &.router-link-exact-active {
                    font-weight: 600;
                    color: $link-active;
                    .sb-nav-link-icon {
                        color: $link-active;
                    }
                }
            }

            .sb-sidenav-menu-nested {
                margin-left: 2rem;
                flex-direction: column;
                font-style: italic;
                font-weight: 300;
            }
        }
    }

    .sb-sidenav-footer {
        padding: 0.75rem 0.25rem;
        flex-shrink: 0;
    }
}
